/* CSS for IMM News Network */

/* #id{
    id selector
} */


/* .class{
    class selector
} */

/* h1{
    element selector
} */


body { 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1 {

    font-size: 1.5em;

}



